<body class="bg-light">
    <div class="bg-light">




        <div class="container mt-5 bg-light">

            <h1 class="h3 mb-2 text-gray-800 font-bold ">ORDER SUMMARY</h1>


            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Order Id</th>
                        <th scope="col">Date</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Payment method</th>
                        <th scope="col">Order Status</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    {{#each orders}}
                    <tr>
                        <td>{{this._id}}</td>
                        <td>{{this.date}}</td>
                        <td>₹{{this.amount}}</td>
                        <td>{{this.modeofpayment}}</td>
                        <td>{{this.status}}</td>
                        <td><a href="/viewOrderproducts/{{this._id}}" class="btn btn-primary">View Details</a></td>
                    </tr>
                    {{/each}}



                </tbody>


            </table>
        </div>
    </div>
</body>